* {
  box-sizing: border-box;
}

atom-workspace {
  background: @app-background-color;
  font-family: @font-family;

  .item-views {
    background: @base-background-color;
  }
}

label {
  .text(normal);
}

atom-notifications {
  z-index: 2001;

  atom-notification {
    .close.icon::before {
      content:'✕';
    }
  }
}
