* {
  box-sizing: border-box;
}

atom-workspace {
  background: @app-background-color;
  font-family: @font-family;

  .item-views {
    background: @base-background-color;
  }
}

label {
  .text(normal);
}

atom-notifications {
  z-index: 2001;

  atom-notification {
    .close.icon::before {
      content:'✕';
    }
  }
}

.key-binding {
  background: @base-accent-color;
  .text(info);
  display: inline-block;
  height: @component-line-height*0.8;
  line-height: @component-line-height*0.8;
  border-radius: @component-border-radius/2;
  font-size: @font-size*0.8;
  padding: 0 @component-padding / 2;
}
